h1 
{
    font-size: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black; 
    text-align: center;
} 

.line
{
    border-top: 1px solid #000000;
} 

main,header
{
    padding: 15px;
    margin: 8px;
} 

button 
{
    float: center;
} 

body 
{ 
    background: #CB356B; 
    background: -webkit-linear-gradient(to right, #BD3F32, #CB356B); 
    background: linear-gradient(to right, #BD3F32, #CB356B);
}
  
#storeddata li
{
    list-style-type: circle;

}